/* ------Variables------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Colores primarios*/
/* Colores secundarios*/
/* Neutral*/
/*Fuente*/
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Body*/
header,
body,
main {
  font-size: 18px;
}

/* -----body-----*/
/* ------variables------ */
/* Header */
.container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.navigation-bar ul.lista-navbar li {
  margin: .2rem;
  display: inline;
}

.navigation-bar ul.lista-navbar li a {
  color: #bfbfbf;
  text-decoration: none;
}

.navigation-bar ul.lista-navbar li a:hover {
  color: black;
}

.navigation-bar ul.burger button {
  display: inline;
  margin: .2rem;
}

/* --header-- */
/* Main */
.hero-img-container {
  border: 2px solid black;
}

.shortern {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.shortern .shortern-input {
  border-radius: .5rem;
  background: #232127;
  background-image: url("../images/bg-shorten-desktop.svg");
  padding: 2rem;
}

.shortern .shortern-input .shortern-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shortern .shortern-input .shortern-items input {
  height: 1.5rem;
  width: 80%;
  border-radius: .5rem;
}

.shortern-button {
  width: 15%;
  background: #2acfcf;
  border-radius: 5px;
  border: transparent;
}

.shortern-button:hover {
  background: green;
}

/* Divs */
.info-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9e9aa7;
}

.info-container div.cyan-line {
  position: absolute;
  top: 50%;
  display: block;
  background: #2acfcf;
  border: 2px solid black;
  height: 10px;
  width: 400px;
}

.info-container div.text-info-container {
  text-align: center;
}

.info-container section.info-container-2 {
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  width: 1000px;
}

.info-container section.info-container-2 .img-info {
  display: block;
  margin-top: -30px;
  margin-left: 4%;
  border-radius: 50%;
  background: #3b3054;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.info-container section.info-container-2 .img-info .img-info img {
  text-align: center;
}

.info-container section.info-container-2 div.info-1 {
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
  height: 200px;
  width: 300px;
  padding-left: 1rem;
}

.info-container section.info-container-2 div.info-1 p.parrafo {
  color: #bfbfbf;
}

.info-container section.info-container-2 div.info-2 {
  margin-top: 3%;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
  height: 200px;
  width: 300px;
  padding-left: 1rem;
}

.info-container section.info-container-2 div.info-2 p.parrafo {
  color: #bfbfbf;
}

.info-container section.info-container-2 div.info-3 {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
  height: 200px;
  width: 300px;
  padding-left: 1rem;
}

.info-container section.info-container-2 div.info-3 p.parrafo {
  color: #bfbfbf;
}

/* Divs*/
/* --main-- */
/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background: #232127;
}

footer div.middle-footer-container {
  height: 1%;
  margin-top: 0;
  margin-right: 20%;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  padding-left: 10%;
}

footer ul li {
  padding-top: .5rem;
  text-decoration: none;
  list-style-type: none;
}

footer div.iconos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gold;
  padding-right: 5rem;
  margin: 3%;
}

footer div.iconos-container img {
  margin: 1rem;
  height: 30px;
  width: 30px;
}

/* --Footer-- */
/* Responsividad */
@media only screen and (max-width: 1000px) {
  main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.container-head nav {
    display: none;
  }
  .hero-container {
    text-align: center;
  }
  main .hero-img-container {
    overflow: hidden;
  }
  .shortern {
    height: 300px;
    width: 400px;
    padding: 0;
    margin: 10%;
  }
  .shortern-input {
    margin: 0;
    background-image: url("../images/bg-shorten-mobile.svg");
  }
  .shortern-items {
    height: 2%;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shortern-items input {
    width: 60%;
    height: 30px;
  }
  .shortern-items .shortern-button {
    margin-top: 2%;
    width: 81%;
    height: 30px;
  }
  .cyan-line {
    display: block;
    background: #2acfcf;
    height: 100px;
    width: 50px;
  }
  .info-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-container div.cyan-line {
    border: 2px solid black;
    height: 5px;
  }
  .info-container div.text-info-container {
    text-align: center;
  }
  .info-container section.info-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 2rem;
  }
  .info-container section.info-container-2 .img-info {
    margin-left: 46%;
  }
  .info-container section.info-container-2 div.info-1 {
    margin-top: 0;
    height: 200px;
    width: auto;
  }
  .info-container section.info-container-2 div.info-2 {
    margin-top: 2rem;
    width: auto;
  }
  .info-container section.info-container-2 div.info-3 {
    margin-top: 3rem;
    margin-bottom: 0;
    height: 200px;
    width: auto;
  }
  .info-container footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* --responsividad-- */
/*# sourceMappingURL=style.css.map */