/* ------Variables------ */

/* Colores primarios*/
$Cyan:                  hsl(180, 66%, 49%);
$Dark-violet:           hsl(257, 27%, 26%);

/* Colores secundarios*/
$Red:                   hsl(0, 87%, 67%);

/* Neutral*/
$Gray:                  hsl(0, 0%, 75%);
$Grayish-violet:        hsl(257, 7%, 63%);
$Very-dark-blue:        hsl(255, 11%, 22%);
$Very-dark-Violet:      hsl(260, 8%, 14%);

/*Fuente*/
.font-{
    font-family: 'Poppins', sans-serif;
}
/* ------variables------ */


/* Header */
/* --header-- */

/* Hero */

/*---hero--*/

/* Body */
/* --body-- */

/* Footer */
/* --Footer-- */

/* Responsividad */
/* --responsividad-- */