/*--------------------> Variables <--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Colores primarios*/

$cyan: hsl(180,
66%,
49%);
$dark-violet: hsl(257,
27%,
26%);

/* Colores secundarios*/

$red: hsl(0,
87%,
67%);

/* Neutral*/

$gray: hsl(0,
0%,
75%);
$grayish-violet: hsl(257,
7%,
63%);
$very-dark-blue: hsl(255,
11%,
22%);
$very-dark-violet: hsl(260,
8%,
14%);

/*Fuente*/

$poppins:'Poppins',
sans-serif;

/*--------------------> General <--------------------*/

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: $poppins;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*--------------------> Header <--------------------*/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem 1.3rem;
    height: 50px;
    nav.navigation-bar {
        display: none;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        ul.lista-navbar li {
            margin: .2rem;
            display: inline;
        }
        ul.lista-navbar li a {
            color: $gray;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
        div.login-container {
            display: flex;
            button.login{
                padding-right: 10px;
                border: none;
                background: none;
                font-family: $poppins;
                color: $gray;

                &:hover {
                    color: black;
                }
            }
            button.sign-up {
                font-family: $poppins;
                color: white;
                background: $cyan;
                padding: .5rem 1rem;
                border-radius: 50px;
                -moz-border-radius: 50px;
            }
        }
    }
    #toggle-button {
        z-index: 10;
        #toggle-input {
            width: 3em;
            height: 3em;
            z-index: 10;
            opacity: .3;
        }
        #toggle-lines {
            display: block;
            position: absolute;
            top: .1rem;
            right: 1.5rem;
            z-index: -1;
            width: 3em;
            height: 3em;
        }
        #toggle-lines span {
            width: 100%;
            height: 50%;
            position: absolute;
            top: 0.5em;
            left: 0;
            text-align: center;
            font-size: 40px;
            color: hsl(248, 5%, 66%);
        }
        #toggle-lines span:first-of-type {
            top: 0em;
        }
        #toggle-lines span:nth-of-type(2) {
            top: 0.25em;
        }
    }
}


/*--------------------> main<--------------------*/

main {
    section.hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        div.hero-container {
            text-align: center;
            p {
                color: hsl(248, 5%, 66%);
            }
            button {
                font-family: $poppins;
                color: white;
                background: $cyan;
                padding: .5rem 1rem;
                border-radius: 50px;
                -moz-border-radius: 50px;
            }
        }
    }
    section.search-container {
        display: flex;
        justify-content: center;
        height: 10vh;
        margin-bottom: 3vh;
        div.search-input {
            display: flex;
            flex-direction: column;
            width: 80vw;
            padding: 1rem;
            border-radius: .5rem;
            background-color: $very-dark-violet;
            background-image: url("/images/bg-shorten-desktop.svg");
            background-size: cover;
            input {
                margin-bottom: 1vh;
            }
        }
    }
    section.info-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: hsl(230, 25%, 95%);
        z-index: -1;
        div.cyan-line {
            background: $cyan;
            //position: absolute;
            margin-top: 12%;
            height: 500px;
            width: 10px;
            z-index: -2;
        }
    }
    div.text-info-container {
        margin-bottom: 5vh;
        text-align: center;
    }
    section.info-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2vh;

        div.info-1, div.info-2, div.info-3 {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-radius: 1rem;
            background: hsl(0, 0%, 100%);
            margin: 5vh 2rem;
            padding: 3%;
                p.parrafo {
                    color: $gray;
                }

            .img-info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                // margin-top: -20%;
                top: calc(0 - 33px );
                border-radius: 50%;
                background: $dark-violet;
                width: 66px;
                height: 66px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
            }
            
            /**/
        }
    }
}

section.button-call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: $dark-violet;
    background-image: url("/images/bg-boost-desktop.svg");
    background-size: cover; 
    div h2 {
        color: hsl(0, 0%, 100%);
    }
    div button {
        font-family: $poppins;
        color: white;
        background: $cyan;
        padding: .5rem 1rem;
        border-radius: 50px;
        -moz-border-radius: 50px;
        margin-bottom: 4%;
    }
}


/*--------------------> main<--------------------*/

footer {
    color: hsl(0, 0%, 100%);
    background: $very-dark-violet;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    footer div{
        padding-top: 2%;
    }
    div.middle-footer-container{
        text-align: center;

        nav ul li{
            list-style-type: none;
            text-decoration: none;
        }
    }
}


/*  R E S P O N S I V I D A D*/

@media only screen and (min-width: 800px) {
    header {
        nav.navigation-bar {
            display: flex;
            width: 75%;
            justify-content: space-between;
        }
        #toggle-button {
            display: none;
        }
    }
    main {
        section.hero {
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: center;
            div.hero-img-container {
                display: block;
                display: flex;
                width: 40vw;
            }
            div.hero-container {
                margin-left: -2vw;
                margin: 1% 1%;
                width: 40vw;
                h1 {
                    font-size: 3rem;
                }
            }
        }
        section.search-container {
            height: 13vh;
            div.search-input {
                margin: 2px;
                flex-direction: row;
                justify-content: center;
                justify-content: space-evenly;
                align-items: center;
                input {
                    width: 50vw;
                    height: 2.5em;
                }
                button.shortern-button {
                    height: 3em;
                    width: 10rem;
                }
            }
        }
        /**/
        section.info-container {
            section.info-container-2 {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                // padding: 2vh;
                height: 350px;
                
                div.cyan-line {
                    background: $cyan;
                    position: absolute;
                    top: calc(50% - 5px);
                    height: 10px;
                    width: 500px;
                    z-index: -2;
                    margin: 0;
                }

                div.info-1, div.info-2, div.info-3 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    border-radius: 1rem;
                    background: hsl(0, 0%, 100%);
                    // margin: 0 0;
                    padding: 3%;
                    height: 200px;
                    width: 300px;
                    display: block;
                    // margin-top: 10%;
                    position: relative;
                    
                    div.img-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: absolute;
                        top: -33px;
                        left: 33px;
                        border-radius: 50%;
                        background: $dark-violet;
                        width: 66px;
                        height: 66px;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                    }
                }

                div.info-1 {
                    align-self: flex-end;
                }

                div.info-2 {
                    align-self: center;
                }

                div.info-3 {
                    align-self: flex-start;
                }
            }
        }
    }
    footer{
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    div.middle-footer-container{
        display:flex;
    }
    }
}


/*  R E S P O N S I V I D A D*/